# Application
APPLICATION_NAME="Rizky Pratama Tan"

# Server
SERVER_ADDRESS=0.0.0.0:5000

# Database
DATABASE_CONNECTION_STRING=mongodb://127.0.0.1:27017
DATABASE_NAME=rizky_pratama_tan

# Email
EMAIL_PASSWORD=
EMAIL_SMTP_PORT=
EMAIL_SMTP_SERVER=
EMAIL_USER=

# API AI
API_AI_BASE_URL=
API_AI_KEY=

# API Discord
API_DISCORD_CHANNEL_ID=
API_DISCORD_CHANNEL_ID_VISITOR_MESSAGE=
API_DISCORD_TOKEN=

# API EODHD
API_EODHD_BASE_URL=
API_EODHD_TOKEN=

# API Massive
API_MASSIVE_BASE_URL=
API_MASSIVE_KEY=
